.header {
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.logo-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.fa-bag-shopping {
    color: #fe4a21;
    font-size: 40px;
}

.personal-btns {
    gap: 10px;
}